<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
    <script>
      //
    </script>
  </head>
  <body>
    <h2>Path: <%= dir.currFolder %></h2>
    <a href="/?path=<%= dir.prevFolder %>">&lt; BACK</a><br />
    <% for(var i in dir.folders) { %>
    	<strong><a href="/?path=<%= dir.folders[i] %>"><%= dir.folders[i] %></a></strong><br />
    <% } %>
		<% for(var i in dir.files) { %>
			<p><a href="/?path=<%= dir.files[i] %>"><%= dir.files[i].split("/").pop() %></a></p><br />
		<% } %>
  </body>
</html>
